<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/MercadilloBucaramanga/Admin">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Campesino</div>
    </a>

    <!-- Heading -->
    <div class="sidebar-heading">
        Menú
    </div>
    <!-- Nav Item  -->
    <li class="nav-item">
        <a class="nav-link" href="/MercadilloBucaramanga/Admin/Mercadillos">
            <i class="fas fa-fw fa-folder"></i>
            <span>Inicio</span></a>
    </li>

    <!-- Nav Item  -->
    <li class="nav-item">
        <a class="nav-link" href="/MercadilloBucaramanga/Admin/Categorias">
            <i class="fas fa-fw fa-folder"></i>
            <span>Productos</span></a>
    </li>

    

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>