<!DOCTYPE html>
<html lang="es">
  <%- include('../includes/header') -%>
  <body>
    <section class="bg-light bg-gradient min-vh-100">
      <div class="container py-5">
        <div class="row justify-content-center align-items-center vh-100">
          <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-5">
            <div class="card border-0 rounded-4 shadow bg-white">
              <div class="card-body p-4 p-md-5">
                <p class="notificacion alert alert-info d-none fs-6" role="alert"></p>
                <h2 class="fs-3 fw-semibold text-center text-dark mb-4">
                  Cambiar Contraseña
                </h2>
                <form data-inicio-sesion>
                  <div class="row gy-3 overflow-hidden">
                    <div class="col-12">
                      <div class="form-floating mb-3">
                        <input
                          type="email"
                          class="form-control form-control-lg border-0"
                          name="email"
                          id="email"
                          placeholder="name@example.com"
                          required
                        />
                        <label for="email" class="form-label text-muted">Correo Electrónico</label>
                      </div>
                    </div>

                    <p class="error alert alert-danger d-none mt-2" style="font-size: 0.875rem;" role="alert">
                          Verifique que el correo sea correcto
                    </p>
                    <div class="col-12">
                      <div class="d-grid my-3">
                        <button class="btn btn-primary btn-lg btn-block fw-semibold btn-enviar" type="submit">
                          Enviar
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="/js/enviarEmail.js"></script>
  </body>
</html>