<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>Mercadillo Campesino</h3>
            <p>Una iniciativa para la comercialización justa de productos agrícolas, conectando directamente a productores y consumidores.</p>
        </div>
        <div class="footer-column">
            <h3>Enlaces rápidos</h3>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#nosotros">Nosotros</a></li>
                <li><a href="/productos" target="_blank">Productos</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Mercadillos Campesinos</h3>
            <br>Domingos 4:00 a.m. hasta la 1:00 p.m
        
        </div>
        <div class="footer-column">
            <h3>Síguenos</h3>
            <div class="social-links">
                <a href="https://www.facebook.com/MERCADILLOBGA/?locale=es_LA" target="_blank" class="social-link"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/mercadillocampesinobga/?hl=es" target="_blank" class="social-link"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="copyright">
        &copy; <%= new Date().getFullYear() %> Mercadillo Campesino. Todos los derechos reservados.
    </div>
</footer>