<header>
    <div class="nav-container">
        <div class="logo">
            <i class="fas fa-leaf"></i> Mercadillo Campesino
        </div>
        <nav>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#nosotros">Nosotros</a></li>
                <li><a href="/MercadilloBucaramanga/productos" target="_blank">Productos</a></li>
            </ul>
        </nav>
        <div class="auth-buttons">
            <a href="" class="login-btn" id="cerrar-sesion">
                
                <i class="fas fa-user " ></i> Iniciar Sesión
            </a>
        </div>
    </div>
</header>