<section class="testimonials">
    <div class="testimonials-container">
        <h2 class="section-title">Lo que dicen nuestros clientes</h2>
        <% testimonialsList.forEach(function(testimonial) { %>
            <div class="testimonial">
                <p class="testimonial-text">"<%= testimonial.text %>"</p>
                <div class="testimonial-author"><%= testimonial.author %></div>
            </div>
        <% }); %>
    </div>
</section>