
<ul class="navbar-nav  sidebar sidebar-dark accordion" style="background-color: #538d22;" id="accordionSidebar">
>

  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/MercadilloBucaramanga"
  >
    <div class="sidebar-brand-icon">
      <i class="fas fa-leaf"></i>
    </div>
    <div class="sidebar-brand-text mx-3"></div>
  </a>

  <!-- Heading -->
  <div class="sidebar-heading">Menú</div>

       <li class="nav-item">
        <a class="nav-link" href="/MercadilloBucaramanga">
            <i class="fas fa-arrow-left mr-2"></i>
            <span>Volver Inicio Mercadillo</span></a>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />
  <!-- Nav Item  -->
            <div id="dynamic-categories"> </div>

    </li>
  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>